
/*cutout photography portfolio styles*/
.kansas-cutout {
	background-image: url(../images/cutouts/kansas.jpg);
}

.dragon-cutout {
	background-image: url(../images/cutouts/dragon.jpg);
}

.cowboy-cutout {
	background-image: url(../images/cutouts/cowboy.jpg);
}

.batman-cutout {
	background-image: url(../images/cutouts/batman.jpg);
}

.picnic-cutout {
	background-image: url(../images/cutouts/picnic.jpg);
}

.cloudcity-cutout {
	background-image: url(../images/cutouts/cloudcity.jpg);
}

.house-cutout {
	background-image: url(../images/cutouts/house.jpg);
}

.ship-cutout {
	background-image: url(../images/cutouts/ship.jpg);
}

.snowwhite-cutout {
	background-image: url(../images/cutouts/snowwhite.jpg);
}

.archie-cutout {
	background-image: url(../images/cutouts/archie.jpg);
}

.bond-cutout {
	background-image: url(../images/cutouts/bond.jpg);
}

.tatooine-cutout {
	background-image: url(../images/cutouts/tatooine.jpg);
}

.midnight-cutout {
	background-image: url(../images/cutouts/midnight.jpg);
}

.nobility-cutout {
	background-image: url(../images/cutouts/nobility.jpg);
}

.heman-cutout {
	background-image: url(../images/cutouts/heman.jpg);
}

.skeletor-cutout {
	background-image: url(../images/cutouts/skeletor.jpg);
}

.grayskull-cutout {
	background-image: url(../images/cutouts/grayskull.jpg);
}

.forest-cutout {
	background-image: url(../images/cutouts/forest.jpg);
}

.flash-cutout {
	background-image: url(../images/cutouts/flash.jpg);
}

.tiptoe-cutout {
	background-image: url(../images/cutouts/tiptoe.jpg);
}

.arrival-cutout {
	background-image: url(../images/cutouts/arrival.jpg);
}

.campfire-cutout {
	background-image: url(../images/cutouts/campfire.jpg);
}

.loneranger-cutout {
	background-image: url(../images/cutouts/loneranger.jpg);
}

.ambush-cutout {
	background-image: url(../images/cutouts/ambush.jpg);
}

/* posed encounters series photo portfolio page styles*/
.jeannie-posed {
	background-image: url(../images/posed/jeannie.jpg);
}

.vasia-posed {
	background-image: url(../images/posed/vasia.jpg);
}

.andrea-posed {
	background-image: url(../images/posed/andrea.jpg);
}

.winnie-posed {
	background-image: url(../images/posed/winnie.jpg);
}

.gretchen-posed {
	background-image: url(../images/posed/gretchen.jpg);
}

.matt-posed {
	background-image: url(../images/posed/matt.jpg);
}

.todd-posed {
	background-image: url(../images/posed/todd.jpg);
}

.chuck-posed {
	background-image: url(../images/posed/chuck.jpg);
}

.chuck2-posed {
	background-image: url(../images/posed/chuck2.jpg);
}

.bonnie-posed {
	background-image: url(../images/posed/bonnie.jpg);
}

.david-posed {
	background-image: url(../images/posed/david.jpg);
}

.nick-posed {
	background-image: url(../images/posed/nick.jpg);
}

.hoffman-posed {
	background-image: url(../images/posed/hoffman.jpg);
}

.katie-posed {
	background-image: url(../images/posed/katie.jpg);
}

.shirin-posed {
	background-image: url(../images/posed/shirin.jpg);
}

/* photo retouch portfolio styles */
.gallery-retouch-photo {
	width: 300px;
	height: 300px;
	background-size: 600px!important;
	background-position: 0;
}

.gallery-retouch-photo:hover {
	background-position: -300px;
}
.anika-retouch {
	background-image: url(../images/retouch/anika.jpg);
}

.julia-retouch {
	background-image: url(../images/retouch/julia.jpg);
}

.stephanie-retouch {
	background-image: url(../images/retouch/stephanie.jpg);
}

.nico-retouch {
	background-image: url(../images/retouch/nico.jpg);
}

.kathy-retouch {
	background-image: url(../images/retouch/kathy.jpg);
}

.wedding-retouch {
	background-image: url(../images/retouch/wedding.jpg);
}

.juris-retouch {
	background-image: url(../images/retouch/juris.jpg);
}

.kevin-retouch {
	background-image: url(../images/retouch/kevin.jpg);
}

.hobbes-retouch {
	background-image: url(../images/retouch/hobbes.jpg);
}

.apa-retouch {
	background-image: url(../images/retouch/apa.jpg);
}

.sujo-retouch {
	background-image: url(../images/retouch/sujo.jpg);
}

.boxer1-retouch {
	background-image: url(../images/retouch/boxer1.jpg);
}

.aiden-retouch {
	background-image: url(../images/retouch/aiden.jpg);
}

.shannon-retouch {
	background-image: url(../images/retouch/shannon.jpg);
}

.family-retouch {
	background-image: url(../images/retouch/family.jpg);
}

.boxer2-retouch {
	background-image: url(../images/retouch/boxer2.jpg);
}

.tron-retouch {
	background-image: url(../images/retouch/tron.jpg);
}

.jack-retouch {
	background-image: url(../images/retouch/jack.jpg);
}

.aiden2-retouch {
	background-image: url(../images/retouch/aiden2.jpg);
}

.milette-retouch {
	background-image: url(../images/retouch/milette.jpg);
}

.dad-retouch {
	background-image: url(../images/retouch/dad.jpg);
}

/*web ads graphic design portfolio styles*/
.ilovemath-ad {
	background-image: url(../images/ads/ilovemath.png);
}

.ilovemath-instagram-ad {
	background-image: url(../images/ads/ilovemath_instagram.gif);
}

.euler-instagram-ad {
	background-image: url(../images/ads/euler_instagram.gif);
}

.piday-instagram-ad {
	background-image: url(../images/ads/piday_instagram.png);
}

.dogyear-instagram-ad {
	background-image: url(../images/ads/dogyear_instagram.png);
}

.mynctm-ad {
	background-image: url(../images/ads/mynctm.png);
}

.summer-ad {
	background-image: url(../images/ads/summer.png);
}

.webinar-ad {
	background-image: url(../images/ads/webinar.png);
}

.dr-ad {
	background-image: url(../images/ads/dr.png);
}

.leaders-ad {
	background-image: url(../images/ads/leaders.png);
}

.books-ad {
	background-image: url(../images/ads/books.png);
}

.met-ad {
	background-image: url(../images/ads/met.png);
}

.blog-ad {
	background-image: url(../images/ads/blog.png);
}

.onlineevents-ad {
	background-image: url(../images/ads/onlineevents.png);
}