
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	position: relative;
}

body {
	background-color: #363636;
	height: 100%;
	color: #febe15;
	font-size:16px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-family: 'Montserrat', sans-serif;
}

ul {
	margin-left: 20px;
}


.highlight-orange {
	color: #ff7f00;
}

/*a:visited {
	color: darkorange;
}*/

/*typography options*/
.montserrat {
	font-family: 'Montserrat', sans-serif;
}

.source-code-pro {
	font-family: 'Source Code Pro', 'Arial', sans-serif!important;
}

.source-code-pro-light {
	font-weight: 300;
}

.source-code-pro-regular {
	font-weight: 400;
}

/*header styles*/
img#logo {
	position: absolute;
	top: 0;
	left:0;
	width:80px;
}



header {
	width: 100%;
	height: 130px;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	font-size:.8em;
}

.header-container {
	margin-top: 15px;
	text-align: right;
	padding-right: 0;
}

.header-container h1 {
	line-height: 50px;
	background: #363636;
	display: inline;
	padding: 5px 10px 5px 10px;
	font-size: 2.3em;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.header-container p {
	background: #363636;
	display: block;
	padding: 5px;
	margin-top: 15px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}


/*hero area styles*/
div.hero-container {
	position: relative;
	width: 100%;
	max-width: 1280px;
	height: auto;
    display: flex;
    flex-wrap: wrap;
}

.hero-left,
.hero-middle,
.hero-right {
	width: 33%;
	max-width: 427px;
	height: 400px;
	position: relative;
	display: block;
}

@media only screen and (min-width: 1100px) {
	.hero-left,
	.hero-middle,
	.hero-right {
		width: 33%;
		max-width: 427px;
		height: 700px;
		position: relative;
		display: block;
	}
}

.img-layer-absolute {
	position: absolute;
	width:85%;
}


.start-transparent {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity:0;
	transition: 2500ms all ease;
	transition-delay: 2500ms;
}

.start-left {
	top: 50%;
	left: 50%;
	transform: translate(-125%, -50%);
	transition: 3000ms all ease-in-out;
}

.start-right {
	top: 50%;
	left: 50%;
	transform: translate(100%, -50%);
	transition: 2500ms all ease-in-out;
}

.start-top {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	transition: 4600ms all ease;
	transition-delay: 400ms;
}

.start-bottom {
	top: 50%;
	left: 50%;
	transform: translate(-50%, 25%);
	transition: 3000ms all ease-in-out;
	opacity: 0;
}

.img-layer-assembled{
	transform: translate(-50%, -50%);
	opacity: 1;
}

/*
div.hero-container img {
	width: 100%;
	max-width: 1280px;
	height: auto;
	display: block;/*somehow, this gets rid of the bottom gap
}
*/


/*featured projects area styles*/
div.featured-projects-bar {
	width: 100%;
	height: 100px;
	position: relative;
	border: 2px solid #363636;
}

div.featured-projects-bar h2 {
	line-height: 100px;
	background: #363636;
	padding: 5px;
	display:inline;
	margin-left:25px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.flex-container-projects {
	display: flex;
	flex-wrap: wrap;
	max-width: 1280px;
	line-height: 22px;
}


.headline-text-color {
	color: #e6e6e6;
}

.flex-container-projects-child {
	width: 100%;
	height: 625px;
	border: 2px solid #363636;/*still on the fence with this effect
	- this rule helps delineate the sections, enhancing the "card"
	material concept and seems like good visual design*/
}

.featured-project-card {
	width: 100%;
	height: 550px;
	background-color: #363636;
	margin-top: 45px;
	padding: 12px;
	transition: 300ms all ease-in-out;
}


section.featured-project-card img {
	width: 250px;
	height: 150px;
	position: relative;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

footer {
	width:100%;
	height:200px;
}

 footer p {   background-color: #363636;
    display: inline-table;
    padding: 10px;
    margin: 10px 25px 10px 25px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}


/*layout helper classes*/
.margin-bottom {
	margin-bottom: 10px;
}

.text-center {
	text-align: center;
}


/*media queries*/
@media only screen and (min-width: 500px) {
	img#logo {
		width: 160px;
	}

	.header-container {
		padding-right: 25px;
	}

	.featured-project-card {
		width: 350px;
		display: block;
		margin-right: auto;
		margin-left: auto;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	}
}/*end mediaQ*/

@media only screen and (min-width: 800px) {
	img#logo {
	position: absolute;
	top: 50%;
	bottom: auto;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 25px;
	}

	header {
		font-size:1em;
	}

		.flex-container-projects-child {
	    width: 50%;
	}
}/*end mediaQ*/

@media only screen and (min-width: 1100px) {
	.flex-container-projects-child {
		width: 33.3%;
	}
}/*end medidaQ*/






.img-container {
	width: 250px;
	height: 150px;
	background-size: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -35px;
}


/*pattern and background color classes*/
.pattern-diagonal-up {
	background-image: url(../images/yellow_lines_up.png);
	background-size: 25px;
}

.pattern-diagonal-up-var {
	background-image: url(../images/yellow_lines_up_var.png);
	background-size: 8px;
}

.pattern-diagonal-down {
	background-image: url(../images/yellow_lines_down.png);
	background-size: 25px;
}

.pattern-horizontal {
	background-image: url(../images/yellow_lines_hor.png);
	background-size: 10px;
}

.pattern-vertical {
	background-image: url(../images/yellow_lines_vert.png);
	background-size: 10px;
}

.pattern-dots-grid-dense {
	background-image: url(../images/yellow_dots_grid_dense.png);
	background-size: 3px;
}

.pattern-dots-grid-sparse {
	background-image: url(../images/yellow_dots_grid_sparse.png);
	background-size: 3px;
}

.pattern-dots-grid-var {
	background-image: url(../images/yellow_dots_grid2.png);
	background-size: 3px;
}

.pattern-dots-stagger {
	background-image: url(../images/yellow_dots_stagger.png);
	background-size: 10px;
}

.color-yellow {
	background-color: #febe13;
}

.color-light-yellow {
	background-color: #fed361;
}

.color-mustard-brown {
	background-color: #cb9811;
}

.color-bright-brown {
	background-color: #7f5f0a;
}

.color-dull-brown {
	background-color: #785d2f;
}

.color-dark-brown {
	background-color: #423208;
}

.color-offwhite {
	background-color: #e6e6e6;
}

.color-charcoal {
	background-color: #363636;
}


