
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: #363636;
	height: 100%;
	color: #febe15;
	font-size:16px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-family: 'Montserrat', sans-serif;
}

ul {
	margin-left: 20px;
}

a {
	color: mediumaquamarine;
}

a:hover {
	color: darkcyan!important;
}

a:visited {
	color: darkorange;
}

/*typography*/
.montserrat {
	font-family: 'Montserrat', sans-serif;
}

.source-code-pro {
	font-family: 'Source Code Pro', 'Arial', sans-serif!important;
}

.source-code-pro-light {
	font-weight: 300;
}

.source-code-pro-regular {
	font-weight: 400;
}

/*header styles*/
header {
	background-size: 12px;
	width: 100%;
	height: 130px;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	font-size:.8em;
}

.header-container {
	background-color: /*#febe15*/;
	/*height: 100%;*/
	/*display: inline-table;*/
	margin-top: 15px;
	text-align: right;
	padding-right: 25px;

}

.header-container h1 {
	line-height: 50px;
	background: #363636;
	display: inline;
	padding: 5px;
	font-size: 2.3em;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
}

.header-container p {
	background: #363636;
	display: block;
	padding: 5px;
	margin-top: 15px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
}


/* comment out but not delete in case need this code snippet for 
tab design again
.circle-tab {
width: 100px;
height: 100px;
background-color: #febe15;
position: absolute;
left: -50px;
bottom: -50px;
border-radius: 50%;
z-index: 1;
box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
transition: 200ms ease-in-out;
cursor: pointer;
}

.circle-tab:hover {
background-color: #00bcd4;
box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
}*/

/*hero area styles*/
section.hero-container {
	width: 100%;
    height: auto;
}

section.hero-container img {
	width: 100%;
	max-width: 1280px;
	height: auto;
	display: block;/*somehow, this gets rid of the bottom gap*/
	opacity: 1;
}

.hero-greeting-box {
	width:75%; 
	height: 40%; 
	position: absolute; 
	top: 40%; 
	bottom:auto; 
	left: 50%; 
	right: auto;
	transform: translateX(-50%) translateY(-50%);
	padding: 10px; 
	z-index: -10; 
	text-align: left;


}

.hero-greeting-box h2 {
	padding: 5px;
	background-color: #363636;
	display: inline-block;
	margin: 20px;
	font-size: 1.5em;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
}


/*featured projects area styles*/
section.featured-projects-bar {
	background-image: url(images/yellow_dots_stagger.png);
	background-size: 5px;
	width: 100%;
	height: 100px;
	position: relative;
}

section.featured-projects-bar h2 {
	line-height: 100px;
	background: #363636;
	padding: 5px;
	display:inline;
	margin-left:25px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, .3);
}

.main-flex-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1280px;
}

.main-flex-container-child {
	width: 100%;
	height: 600px;
}

.featured-project-card {
	width: 100%; 
	height: 515px; 
	background-color: #363636; 
	margin-top: 45px; 
	padding: 12px;
	cursor: pointer;
	transition: 200ms ease-in-out;
}

section.featured-project-card img {
	width: 250px; 
	height: auto;
	position: relative;
	top: -30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

footer {
	width:100%;
	height:200px;
}

 footer p {   background-color: #363636;
    display: inline-table;
    padding: 10px;
    margin: 5px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, .3);
}

/*layout helper classes*/
.margin-bottom {
	margin-bottom: 10px;
}
.text-center {
	text-align: center;
}
.header-text-color {
	color: #e6e6e6;
}

/*visibility classes*/
.visible-desktop {
	display: none;
}

/*media queries*/
@media only screen and (min-width: 500px) {
	.featured-project-card {
		width: 350px; 
		display: block; 
		margin-right: auto; 
		margin-left: auto; 
		box-shadow: 5px 5px 5px rgba(0, 0, 0, .3); 
	}
}/*end mediaQ*/


@media only screen and (min-width: 800px) {
	header {
		font-size:1em;
	}	.main-flex-container-child {
	    width: 50%;
	}
	.visible-tablet {
		display: block;
	}
}/*end mediaQ*/

@media only screen and (min-width: 1100px) {
	.main-flex-container-child {
		width: 33.3%;
	}
	.visible-desktop {
		display: block;
	}	
}/*end medidaQ*/


/*pattern and background color classes*/
.pattern-diagonal-up {
	background-image: url(images/yellow_lines_up.png);
	background-size: 25px;
}

.pattern-diagonal-up-var {
	background-image: url(images/yellow_lines_up2.png);
	background-size: 35px;
}

.pattern-diagonal-down {
	background-image: url(images/yellow_lines_down.png);
	background-size: 25px;
}

.pattern-horizontal {
	background-image: url(images/yellow_lines_hor.png);
	background-size: 10px;
}

.pattern-vertical {
	background-image: url(images/yellow_lines_vert.png);
	background-size: 10px;
}

.pattern-dots-grid {
	background-image: url(images/yellow_dots_grid.png);
	background-size: 3px;
}

.pattern-dots-grid-var {
	background-image: url(images/yellow_dots_grid2.png);
	background-size: 3px;
}

.pattern-dots-stagger {
	background-image: url(images/yellow_dots_stagger.png);
	background-size: 10px;
}

.color-yellow {
	background-color: #febe13;
}

.color-light-yellow {
	background-color: #fed361;
}

.color-mustard-brown {
	background-color: #cb9811;
}

.color-bright-brown {
	background-color: #7f5f0a;
}

.color-dull-brown {

}

.color-dark-brown {
	background-color: #423208;
}

.color-offwhite {
	background-color: #e6e6e6;

}

.color-charcoal {
	background-color: #363636;
}

/*hover effects*/
div.main-flex-container-child:hover  section.featured-project-card {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 

}

.cards-animate {
	width: 250px; 
	height: 150px;
	background-image: url(images/cards_no_animate.png);
	background-size: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -35px;
}

div.main-flex-container-child:hover .cards-animate {
	background-image: url(images/cards_animate.gif);
}

.resume-animate {
	width: 250px; 
	height: 150px;
	background-image: url(images/resume_no_animate.png);
	background-size: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -35px;
}

div.main-flex-container-child:hover .resume-animate {
	background-image: url(images/resume_animate.gif);
}

.keyboard-animate {
	width: 250px; 
	height: 150px;
	background-image: url(images/keyboard_no_animate.png);
	background-size: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -35px;
}

div.main-flex-container-child:hover .keyboard-animate {
	background-image: url(images/keyboard_animate.gif);
}

.bird-animate {
	width: 250px; 
	height: 150px;
	background-image: url(images/bird_no_animate.png);
	background-size: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -35px;
}

div.main-flex-container-child:hover .bird-animate {
	background-image: url(images/bird_animate.gif);
}






